    {{#if errors }}
              {{#each errors }}
                <p class="alert alert-danger">{{ this.msg }}</p>
              {{/each}}
            {{/if}}

<div class="Container ">                
    <div class="jumbotron p-4 p-md-5 text-white rounded " style="background-color:#4D626C">
        <div class="row ">
        
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">FORMULARIO PARA EDITAR DATOS DE USUARIOS</h4>
                 <form action="/visitas/actualizar_Visita/{{Visitas._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="firstName">Nombre y Apellido</label>
                            <input type="text" class="form-control rounded"  value="{{Visitas.nombres}}" name="nombres" placeholder="Nombre y apellido"
                                >
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Cédula</label>
                            <input type="text" class="form-control rounded" value="{{Visitas.cedula}}" name="cedula" placeholder="Cédula" >
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="email">E-mail <span class="text-muted">(Opcional)</span></label>
                            <input type="email" class="form-control rounded" value="{{Visitas.email}}" name="email" placeholder="you@example.com">
                            
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="username">Teléfono</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" class="form-control rounded" value="{{Visitas.telefono}}" name="telefono" placeholder="Teléfono" >
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="username">Temperatura</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded"><i class="fa fa-thermometer-three-quarters"
                                            aria-hidden="true"></i></span>
                                </div>
                                <input type="text" class="form-control rounded " value="{{Visitas.temperatura}}" name="temperatura" placeholder="Temperatura"
                                    >
                                
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label >Género</label>
                            <select class="custom-select d-block w-100 rounded" value="" name="genero">
                                <option>{{Visitas.genero}}</option>
                                <option>Hombre</option>
                                <option>Mujer</option>
                                <option>Otro</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <label>Dirección de Residencia</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded"><i class="fa fa-home" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" class="form-control rounded" value="{{Visitas.direccion}}" name="direccion" placeholder="Dirección"
                                   >
                                
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label>Lugar de visita</label>
                            <select class="custom-select d-block w-100 rounded"  name="lugarVisita">
                                <option>{{Visitas.lugarVisita}}</option>
                                <option>Laboratorios</option>
                                <option>Oficinas Falcultad</option>
                                <option>Registro y control</option>
                                <option>Biblioteca</option>
                                <option>Bienestar</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3 text-white">
                            <label>Rol de visitante</label>
                            <select class="custom-select d-block w-100 rounded" value="{{Rol_visitante}}" name="Rol_visitante">
                                <option value="">Selecionar</option>
                                <option>Estudiante</option>
                                <option>Docente</option>
                                <option>Administrativo</option>
                                <option>Otro</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Nota de Visita</label>
                            <textarea type="text" class="form-control rounded" name="nota" placeholder="">{{Visitas.nota}}</textarea>
                        </div>
                    </div>

                    
                    <div class="row"> 
                        <div class="col-md-3 mb-3">  <button class="btn btn-primary btn-lg btn-block rounded" type="submit">Actualizar Datos</button></div>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>

</div>