<table class="table table-striped rounded" aria-haspopup="true">
    <thead class="thead-white text-black">

        <th scope="col">Nombres - Apellidos</th>
        <th scope="col">Cédula</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Temperatura</th>
        <th scope="col">Género</th>
        <th scope="col">Lugar de visita</th>
        <th scope="col">Rol Visitante</th>
        <th scope="col">Fecha - Hora de entrada</th>
        <th scope="col">Nota</th>
        <th scope="col">Acción</th>
        </tr>
    </thead>

    <tbody class="tbody-white">
        <tr>
            <td>{{nombres}}</td>
            <td>{{cedula}}</td>
            <td>{{telefono}}</td>
            <td>{{temperatura}}</td>
            <td>{{genero}}</td>
            <td>{{lugarVisita}}</td>
            <td>{{Rol_visitante}}</td>
            <td>{{date}}</td>
            <td>{{nota}}</td>
            <td>
                <a href="/visitas/actualizarVisita/{{id}}"><i
                        class=" btn btn-primary btn-block btn-sm fas fa-edit"></i></a>
                <br />
                <form action="/visitas/salirVisita/{{id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
                </form>
            </td>
        </tr>


    </tbody>
</table>